
.reg-auth_switch {
  list-style: none;
}
.reg-auth_form {
  display: flex;
}
.reg-auth_form * {
  margin-left: 10px;
}


.task-list_name {
  width: 20%;
}
.task-list_email {
  width: 20%;
}
.task-list_text {
  width: 60%;
}
.task-list_task {
  position: relative;
}
.edit-task {
  display: inline-block;
}
.task_edit {
  position: absolute;
}
.task_done {
  text-align: center;
  font-size: 25px;
}
.task_edit span{
  position: absolute;
  top: 0;
  left: 0;
  font-size: 12px;
  white-space: nowrap;
  padding: 0 5px;
  color: #9c9c9c;
}
.task-sort form {
  margin: 0;
}
.task-sort button {
  font-weight: bold;
  white-space: nowrap;
  padding: 0;
}

.create-task {
  text-align: center;
}
.create-task button {
  margin-top: 10px;
}
